/* pagina mural */

  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .hello h3{
    color:lightpink;
    font-size: 40px;
  }
  
    .avisos {
    width: 100%;
    color: rgb(216, 216, 216);
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .avisos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avisos .container .div-form {
    width: 95%;
  }

  .avisos .container .div-form #form_postagem {
    width: 95%;
  }

   .avisos .div-form label {
    width: 95%;
  }

   .avisos .div-form textarea {
    width: 95%;
    border: 3px solid #e6005a;
    background-color: white;
    border-radius: 5px;
  }

  .dash-right .avisos .div-form button {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
  }

  .publicacao-btn-editar {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #da73ff;
    width: 80px;
    border-radius: 10px;
  }

  .publicacao-btn-cancelar {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #f5726d;
    width: 150px;
    border-radius: 20px;
  }

  .publicacao-btn-deletar {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #ff0000;
    width: 80px;
    border-radius: 10px;
  }

  .publicacao-btn-confirmar {
    cursor: pointer;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px; 
    color: rgb(13, 67, 4);
    background-color: #d2ffb6;
    width: 150px;
    border-radius: 50px;
  }

  .publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #e6005a;
    background-color: #44265c;
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
  }

  .publicacao>*:not(:last-child) {
    padding: 0 0 10px 0;
  }

  .div-results {
    width: 100%;
  }

  .div-results .feed-container {
    background-color: #6a3d6e;
    border-radius: 5px;
    margin-bottom: 80px;
  }

  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .div-buttons>* {
    margin-left: 30px;
  }

  /* pagina graficos */

  .dash-header {
    background-color: #44265c;
  }

  .dash { 
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    background-color: #161618;
    height: 100vh;
    overflow: auto;
  }

  .area-parametros-alerta {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    background-color: #212124;
  }

  .area-parametros-alerta .titulo-legenda {
    color: white;
    font-weight: 600;
    width: fit-content;
    margin: 10px 20px;
  }

  .parametros-alerta {
    display: flex;
    width: 100%;
  }

  .item-regua {
    width: 20%;
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .item-regua p {
    margin: 0;
    font-weight: 500;
  }

  .item-regua p:nth-child(2) {
    font-weight: 800;
  }

  .perigo-frio {
    background-color: #5c6bc0;
  }

  .perigo-quente {
    background-color: #ff7043;
  }

  .alerta-frio {
    background-color: #42a5f5;
  }

  .alerta-quente {
    background-color: #ffee58;
  }

  .ideal {
    background-color: #9ccc65;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: white;
  }

  .desc-aquario {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .desc-aquario .cor-alerta {
    width: 30px;
  }

  .title-aquario {
    width: 100%;
  }


  .cards h1 {
    font-size: 22px;
    border-bottom: solid white 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
  }

  .temperatura,
  .umidade {
    margin: 5px;
    margin-left: 20px;
    width: 75%;
  }

  .cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50%;
    display: inline-block;
  }

  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0 30% 0 30%;
  }

  .graph {
    width: 70%;
    margin: auto;
    padding-top: 10px;
  }

  .tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
  }

  .btn-chart {
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #e6005a;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer
  }

  .btn-pink {
    color: white;
    background-color: #e6005a;
  }

  .btn-white {
    color: #e6005a;
    background-color: white;
  }

  .label-captura {
    height: 80px;
  }

  .display-none {
    display: none;
  }

  .display-flex {
    display: flex;
  }

  .display-block {
    display: block;
  }

  /* PAGINA DOS GRÁFICOS */
  .header-left a {
    text-decoration: none;
    color: white;
  }

  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #e6005a

  }

  .dash-right {
    display: flex;
    width: 70%;
    position: relative;
    top: 0;
    left: 25%;
    height: 100vh;
  }

  /* dash */

  .tituloDash{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 300px;
    color: antiquewhite;
  }
  
  
/* Estilo geral para a área de gráficos */
.graficos {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

/* Primeira linha de gráficos */
.graficos1, .graficos2 {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-right: 10px;
}

/* Estilização individual de cada gráfico */
.grafPpm canvas {
  width: 535px !important;
  height: 257px !important;
  padding: 20px;
  border-radius: 10px;
}

.grafPpm{
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(50 6 67);
  text-align: center;
}

.grafTempo canvas {
  width: 600px !important;
  height: 256px !important;
  background-color: rgb(50 6 67);
  padding: 20px;
  border-radius: 10px;
}

.grafTempo{
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(50 6 67);
  text-align: center;
}

.grafErros canvas {
  width: 259px !important;
  height: 259px !important;
  padding: 10px;
  border-radius: 10px;
}


.grafErros{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(50 6 67);
  text-align: center;

}

.graficoPizzaIndividual{
  display: flex;
  align-items: center;
  justify-content: center;
}


.grafDesempenho canvas {
  width: 674px !important;
  height: 265px !important;
  background-color: rgb(50 6 67);
  padding: 20px;
  border-radius: 10px;
}

.grafDesempenho{
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(50 6 67);
  text-align: center;
}

/* kpi */
.media{
  background-color: #5c6bc0;
  color: #e7d3f7;
}
.recorde{
  background-color: #9ccc65;
  color: #305107;
}
.kpi{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-left: 33rem;
  margin-right: 5rem;
  margin-bottom: 10px;
  font-size: 10px;
}

.kpiBox {
  padding: 3px;
  border-radius: 5px;
  width: 150px; 
  height: 100px;
  text-align: center;
}

.kpiBox h2 {
  font-size: 13px;
  margin-bottom: 5px; 
}

.kpiBox p {
  font-size: 50px; 
  margin-top: 0; 
}


