/* paleta de cores */

:root{
    --roxo-destaque: #26043A;
    --roxo-claro: #9161AF;
    --roxo-fundo: #481C63;
    --amarelo: #FFDF90;
    --rosa: #EB4F80;
}

.container{
    background-color: #481C63;
}

/* seção cabeçalho*/

.titulo-cabecalho{
    padding: 70px 70px;
    font-size: 25px;
    text-align: center;
}

.imagem {
    width: 100%;
    background-color: var(--roxo-destaque);
    margin-bottom: -10px;
}

/* seção introdução */

.introducao{
    display: flex;
    flex-direction: column;
    background-color: var(--roxo-destaque);
    text-align: center;
    gap: 30px;
    padding: 0px 100px 80px 100px;
}

.introducao h2{
    font-size: 45px;
    font-weight: 700;

}

/* seção desafios */

.desafios h2{
    font-size: 35px;
}

.desafios{
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: center;
    gap: 50px;
    margin: 60px;
}


.cards-desafios{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.play-desafios{
    margin-top: 30px;
}

.play-desafios a{
    color: var(--roxo-destaque);
    background-color: var(--amarelo);
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    font-size: 25px;
}

.card-desafios-individual{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

/* seção comunidade */

.card-comunidade{
    display: flex;
    flex-direction: row;
    background-color:var(--rosa);
    text-align: start;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
    justify-content: space-between;
}

.comunidades img{
    width: 100%;
}

.conteudo-comunidades{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    width: 30rem;
}

.conteudo-comunidades h2{
    font-size: 35px;
}

.lista-comunidades{
    display: flex;
    flex-direction: column;
}

.card-comunidades-individual{
    background-color: antiquewhite;
    margin-bottom: 20px;
    color: var(--roxo-destaque);
    padding: 20px;
    border-radius: 10px;
    text-align: start;
}

/* seção modalidades*/

.modalidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxo-claro);
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    gap: 30px;
}

.modalidades h2{
    font-size: 35px;
}

.cards-modalidades{
    display: flex;
    flex-direction: row;   
}

.card-individual-modalidades{
    display: flex;
    flex-direction: column;
    background-color: var(--roxo-fundo);
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    align-items:flex-start;
    gap: 10px;
}

.card-individual-modalidades-conteudo{
display: flex;
text-align: start;
flex-direction: column;
padding: 10px;
gap: 50px;
}

.card-individual-modalidades img {
    width: 100%;
}

.btn-modalidades{
    background-color: var(--amarelo);
    width: 120px;
    color: var(--roxo-fundo);
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}

/* seção rodapé*/

.rodape{
    background-color: var(--roxo-fundo);
    font-weight: 100;
    font-size: 20px;
    padding: 50px;
    text-align: center;
}


/* Responsividade */

@media (min-width: 1700px) {
 /* seção desafios */
 .cards-desafios{
    min-width: 20px;
}

}